PORT=3000
DATABASE_URL=postgresql://usuario:senha@host:porta/banco
MERCADO_PAGO_ACCESS_TOKEN=SEU_ACCESS_TOKEN_AQUI
MERCADO_PAGO_PUBLIC_KEY=SUA_PUBLIC_KEY_AQUI
APP_BASE_URL=http://localhost:3000
ADMIN_EMAIL=
ADMIN_PASSWORD=
JWT_SECRET=
